<!DOCTYPE HTML>
<!--
Linear by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>Video Game Sound Design | Rokas Sutkus</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/skel-panels.min.js"></script>
	<script src="/assets/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/style-desktop.css" />
	</noscript>
</head>
<body>

	<!-- Header -->
	<div id="header">
		{% include nav.html %}
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">Rokas Sutkus</a></h1>
				<span class="tag">Sound designer</span>
			</div>
		</div>
	</div>
	<!-- Header -->
	{{ content }}
	
	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section>
				<blockquote>&ldquo;I love dealines. I like the whooshing sound they make as they fly by. &rdquo;</blockquote> 
				<p> - Douglas Adams</p>
				<p> That is probably the only whoosh I can not record...</p>
			</section>
		</div>
	</div>


<!-- Footer -->
<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>Just say Hi!</h2>
				<span class="byline">If you want to contact me here are a few places</span>
			</header>
			<ul class="contact">
				<li><a href="https://www.instagram.com/sutkusaudio/" class="fa fa-instagram"><span>Instagram</span></a></li>
				<li><a href="mailto:rokas@sutkusaudio.com" class="fa fa-envelope"><span>E-mail</span></a></li>
				<li><a href="https://twitter.com/eshkor101" class="fa fa-twitter"><span>Twitter</span></a></li>
			</ul>
		</section>
	</div>
</div>

<!-- Copyright -->
<div id="copyright">
	<div class="container">
		© Rokas Sutkus Audio
	</div>
</div>

</body>
</html>
